li {
  list-style: none;

}

.info-item {
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.info {
  display: flex;
  gap: 6px;
  text-align: center;
  font-family: nunito sans;
  font-weight: 300;
}

.gallery__image {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

.gallery ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

}

.forForm {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: aqua;
  border-radius: 4px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: none;
}